# <font color='orange'>Preprocessing</font>
## <font color='brown'>Missing Value</font>
    drop Nan - row
    fill Nan with mean / mode for categorical data / mode
    fill Nan with constant
    fill Nan with nearest neighbor (KNN)
## <font color='brown'>Cat2Num ==> RN</font>
    OHC ==> 0/1/0 ==> cardinality = 3
    ranking
    replace with numerical property (ex: car label to car price)
## <font color='brown'>Scaling</font>
    max normalization
    min-max normalization = (x-min/max-min)  ==> 0~1
    standard score-scaling normalization = (x-mean / sqrt(variance) ) ==> -3 ~ +3
    L1,L2 norm
    binarizer

In [66]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as PLT
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import Binarizer

# import sys
# np.set_printoptions(threshold=sys.maxsize)

### <font color='brown'>Preprocessing 01</font>

In [2]:
DT = pd.read_csv('../datasets/DataPreprocessing.csv')
DT

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes
5   India  40.0  69600.0            Yes
6  Brazil   NaN  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [3]:
X = DT.iloc[:,:-1].values
Y = DT.iloc[:,-1].values

In [4]:
smi = SimpleImputer(missing_values=np.nan,strategy='mean')
# null for object or string values
# nan for numeric values
smi.fit(X[:,1:3])
X[:,1:3] = smi.transform(X[:,1:3])

In [5]:
X

array([['India', 49.0, 86400.0],
       ['Brazil', 32.0, 57600.0],
       ['USA', 35.0, 64800.0],
       ['Brazil', 43.0, 73200.0],
       ['USA', 45.0, 76533.33333333333],
       ['India', 40.0, 69600.0],
       ['Brazil', 43.77777777777778, 62400.0],
       ['India', 53.0, 94800.0],
       ['USA', 55.0, 99600.0],
       ['India', 42.0, 80400.0]], dtype=object)

In [6]:
lbe = LabelEncoder()
X[:,0] = lbe.fit_transform(X[:,0])

In [7]:
clmt = ColumnTransformer([('country',OneHotEncoder(),[0])], remainder='passthrough') # passthrough or drop
X = clmt.fit_transform(X)
X

array([[0.0, 1.0, 0.0, 49.0, 86400.0],
       [1.0, 0.0, 0.0, 32.0, 57600.0],
       [0.0, 0.0, 1.0, 35.0, 64800.0],
       [1.0, 0.0, 0.0, 43.0, 73200.0],
       [0.0, 0.0, 1.0, 45.0, 76533.33333333333],
       [0.0, 1.0, 0.0, 40.0, 69600.0],
       [1.0, 0.0, 0.0, 43.77777777777778, 62400.0],
       [0.0, 1.0, 0.0, 53.0, 94800.0],
       [0.0, 0.0, 1.0, 55.0, 99600.0],
       [0.0, 1.0, 0.0, 42.0, 80400.0]], dtype=object)

In [8]:
ss = StandardScaler()
X = ss.fit_transform(X)
X

array([[-0.65465367,  1.22474487, -0.65465367,  0.75887436,  0.74947325],
       [ 1.52752523, -0.81649658, -0.65465367, -1.71150388, -1.43817841],
       [-0.65465367, -0.81649658,  1.52752523, -1.27555478, -0.89126549],
       [ 1.52752523, -0.81649658, -0.65465367, -0.11302384, -0.25320042],
       [-0.65465367, -0.81649658,  1.52752523,  0.17760889,  0.        ],
       [-0.65465367,  1.22474487, -0.65465367, -0.54897294, -0.52665688],
       [ 1.52752523, -0.81649658, -0.65465367,  0.        , -1.0735698 ],
       [-0.65465367,  1.22474487, -0.65465367,  1.34013983,  1.38753832],
       [-0.65465367, -0.81649658,  1.52752523,  1.63077256,  1.75214693],
       [-0.65465367,  1.22474487, -0.65465367, -0.25834021,  0.29371249]])

### <font color='brown'>KNN Preprocessing</font>

In [9]:
DT = pd.read_csv('../datasets/pima-indians-diabetes.csv'
                 ,names=[
                     'pregnant_count',
                     'plasma',
                     'blood_pressure',
                     'skin_fitness',
                     'blood_glucose',
                     'bmi',
                     'diabetes_pedigree ',
                     'age',
                     'class',
                 ])
DT.head()

,pregnant_count,plasma,blood_pressure,skin_fitness,blood_glucose,bmi,diabetes_pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
DT.isna().sum()

pregnant_count        0
plasma                0
blood_pressure        0
skin_fitness          0
blood_glucose         0
bmi                   0
diabetes_pedigree     0
age                   0
class                 0
dtype: int64

In [11]:
DT.isnull().sum()

pregnant_count        0
plasma                0
blood_pressure        0
skin_fitness          0
blood_glucose         0
bmi                   0
diabetes_pedigree     0
age                   0
class                 0
dtype: int64

In [12]:
skines = DT[DT['skin_fitness']==0]
skines

,pregnant_count,plasma,blood_pressure,skin_fitness,blood_glucose,bmi,diabetes_pedigree,age,class
2,8,183,64,0,0,23.3,0.672,32,1
5,5,116,74,0,0,25.6,0.201,30,0
7,10,115,0,0,0,35.3,0.134,29,0
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
762,9,89,62,0,0,22.5,0.142,33,0
766,1,126,60,0,0,30.1,0.349,47,1

In [13]:
skin_fitness_mean = DT[DT['skin_fitness']!=0]['skin_fitness'].mean()

In [14]:
DT.replace( {'skin_fitness':0}, skin_fitness_mean, inplace=True)

In [15]:
blood_glucose_mean = DT[DT['blood_glucose']!=0]['blood_glucose'].mean()

In [16]:
DT.replace( {'blood_glucose':0}, skin_fitness_mean, inplace=True)

In [17]:
DT = pd.read_csv('../datasets/pima-indians-diabetes.csv'
                 ,names=[
                     'pregnant_count',
                     'plasma',
                     'blood_pressure',
                     'skin_fitness',
                     'blood_glucose',
                     'bmi',
                     'diabetes_pedigree ',
                     'age',
                     'class',
                 ])

In [18]:
DT.replace( {'skin_fitness':0,'blood_glucose':0}, np.nan, inplace=True)

In [19]:
knimp = KNNImputer(n_neighbors=3)
DT = knimp.fit_transform(DT)
DT

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [20]:
minmaxSCL = MinMaxScaler(feature_range=(0,1))
DT = minmaxSCL.fit_transform(DT)
DT

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.23441503, 0.48333333,
        1.        ],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.11656704, 0.16666667,
        0.        ],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.25362938, 0.18333333,
        1.        ],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.07130658, 0.15      ,
        0.        ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.11571307, 0.43333333,
        1.        ],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.10119556, 0.03333333,
        0.        ]])

In [21]:
stscl = StandardScaler()
DT = stscl.fit_transform(DT)
DT

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.46849198,
         1.4259954 ,  1.36589591],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.36506078,
        -0.19067191, -0.73212021],
       [ 1.23388019,  1.94372388, -0.26394125, ...,  0.60439732,
        -0.10558415,  1.36589591],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.68519336,
        -0.27575966, -0.73212021],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.37110101,
         1.17073215,  1.36589591],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.47378505,
        -0.87137393, -0.73212021]])

### <font color='brown'>L1,L2 - binarizer Preprocessing</font>

In [43]:
DT = pd.read_csv('../datasets/pima-indians-diabetes.csv'
                 ,names=[
                     'pregnant_count',
                     'plasma',
                     'blood_pressure',
                     'skin_fitness',
                     'blood_glucose',
                     'bmi',
                     'diabetes_pedigree ',
                     'age',
                     'class',
                 ])
DT = DT.iloc[:,:-1]
DT.head()

,pregnant_count,plasma,blood_pressure,skin_fitness,blood_glucose,bmi,diabetes_pedigree,age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [44]:
L2norm = Normalizer()

In [64]:
L1norm = Normalizer(norm='l1')

In [61]:
DTL2 = L2norm.fit_transform(DT)
print(sum(DTL2[0]**2))
DTL2

1.0000000000000002

array([[0.03355237, 0.82762513, 0.40262844, ..., 0.18789327, 0.00350622,
        0.27960308],
       [0.008424  , 0.71604034, 0.55598426, ..., 0.22407851, 0.00295683,
        0.26114412],
       [0.04039768, 0.92409698, 0.32318146, ..., 0.11765825, 0.00339341,
        0.16159073],
       ...,
       [0.02691539, 0.65135243, 0.38758161, ..., 0.14103664, 0.00131885,
        0.16149234],
       [0.00665306, 0.83828547, 0.39918356, ..., 0.20025708, 0.00232192,
        0.31269379],
       [0.00791454, 0.73605211, 0.55401772, ..., 0.24060198, 0.00249308,
        0.18203439]])

In [65]:
DTL1 = L1norm.fit_transform(DT)
print(sum(DTL1[0]))
DTL1

0.9999999999999999

array([[0.01737987, 0.42870343, 0.20855843, ..., 0.09732727, 0.0018162 ,
        0.14483224],
       [0.00418496, 0.35572147, 0.27620726, ..., 0.11131989, 0.00146892,
        0.12973371],
       [0.02572579, 0.58847742, 0.20580631, ..., 0.07492636, 0.00216097,
        0.10290316],
       ...,
       [0.01283878, 0.31069856, 0.18487848, ..., 0.06727522, 0.0006291 ,
        0.0770327 ],
       [0.00378145, 0.47646238, 0.22688685, ..., 0.11382157, 0.00131973,
        0.17772803],
       [0.00402067, 0.37392196, 0.28144664, ..., 0.12222825, 0.00126651,
        0.09247532]])

In [67]:
binzer = Binarizer(threshold=0.0)

In [68]:
DTBINZER = binzer.fit_transform(DT)
DTBINZER

array([[1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]])

In [71]:
DTnewFeature = np.concatenate((DT,DTBINZER),axis=1)
DTnewFeature[0]

array([  6.   , 148.   ,  72.   ,  35.   ,   0.   ,  33.6  ,   0.627,
        50.   ,   1.   ,   1.   ,   1.   ,   1.   ,   0.   ,   1.   ,
         1.   ,   1.   ])